@charset "utf-8";

.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    border-top: white;
border-bottom: black;
border-left: white;
border-right: white;
border-style: dashed;
background-image: url(../..);
}

.flexbox {
    display: block;
    text-align: center;
}

form {
padding-top: 15px
}

input {
    font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 50%;
    margin: 8px 0;
    border: 2px solid #1b2538;
	padding: 0.3em;
	transition: 0.3s;
    border-radius: 4px;
}

button {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: black;
    border: solid 2px black;
    border-radius: 3px;
    transition: .4s;
    }
button:hover {
    background: black;
  color: white;
}

.addlist{
    list-style: none;
    width: 50%;
    margin-top: 5% 25%;
}

.addlist button {
    margin: 0 3%;
    border-radius: 8px;
    background-color: whitesmoke;
}
.addlist li{
    margin-top: 10;
}

.addlist:hover {
    opacity: 70%;
}

